*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headContainer{
    width: 100%;
    height: 80px;
    background-color: yellow;
    /* position: sticky; */
    /* top: 0px; */
}
.innerHead{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: yellow;
    justify-content: space-around;
}
.logo{
    /* width: 300px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    /* size: 510px; */
    width: max-content;
}
.menu li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: blueviolet;
    text-decoration: underline;
}

@media(max-width:480px){
    .innerHead{
        height: auto;
        flex-direction: column;
        font-size: 15px;
    }
    
}

